/* CSS Document */
@import url(global.less);

.send{
    border:none;
    background-color:@agnPrimaryColor;
    border-radius:50px;
    color:#fff;
	margin:0;
    padding:15px 25px;
    text-transform:uppercase;
    .SetPrimaryFont(700, 28px);
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}