/* CSS Document */
@import url(global.less);

#what-we-do{
	float:left;	
}
.services{
	float:left;	
}
	
	.service{
		float:left;	
	}
		.service-button img{
			margin:0 0 18px 40px;
			display:block;
		}
		
		.service-button span{
			display:block;
			text-align:center;	
		}