/* CSS Document */
@import url(global.less);

#services{
	clear:both;
	float:left;
}

	.service-button{
		float:left;
		width:224px;
	}
	
		.service-button img{
			clear:left;
			display:block;
			margin: 0px 0px 18px 40px;	
		}
		
		.service-button span{
			color:@agnSecondaryColor;
			display:block;
			text-align:center;
			width:224px;
			.SetSecondaryFont(600, 21px);	
		}