/* CSS Document */
@import url(global.less);

#what-we-do{
	float:left;	
}

#services{
	float:left !important;
	width:100%;
}
	
	.service{
		display:none;
		float:left;	
	}
	
	.service.active{
		display:block;	
	}
	
		.service-button{
			cursor:pointer;	
		}
		
			.service-button img{
				margin:0 auto 20px auto;
				display:block;
			}
			
			.service-button span{
				color:@agnSecondaryColor;
				display:block;
				text-align:center;
				.SetSecondaryFont(600, 21px);	
			}